<div class="content-header row"  [ngClass]="{' i18n-arb ' : rtl}">
    <div class="content-header-left col-12 mb-2">
      <h5 class="content-header-title mb-0">{{'SADBAR-TITLE-TABLE-BORD' | translate}}</h5>
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-6 my-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              <!-- <i class="fa fa-bar-chart"></i> -->
              {{'SADBAR-TITLE-HOME' | translate}}
            </li>
          </ol>
        </div>
        <div class="col-6 " >
          <span class="float-l">
            <div class="today m-1">
              <strong class="today-item">{{'HEADER-CURRENT-DATE'| translate}} : </strong
              ><span>{{ today | date }}</span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
<div class="content-body"   >
    <!-- start home -->
    <div class="card">
        <div class="card-content collapse show">
            <div class="card-body home p-3 ">
                <div class="row justify-content-around">
                    <div class="col-lg-2 p-0 col-md-6 ">
                        <div class="home-item-card bg-gradient-one row pointer" [routerLink]="['/appel-projet']">
                            <div class="col-3"><i class="fa fa-eye fa-item"></i> </div>
                            <div class="home-item col-9 ">
                                <span class="home-item-title">{{"SADBAR-TITLE-AP"| translate}}</span> <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 col-md-6 ">
                      <div class="home-item-card bg-gradient-four  row pointer" [routerLink]="['/rapport-depart']">
                          <div class="col-3"> <i class="fa fa-folder fa-item "></i> </div>
                          <div class="home-item col-9  ">
                              <span class="home-item-title">{{"SADBAR-TITLE-RD"| translate}}</span> <br>
                          </div>
                      </div>
                  </div>
                    <div class="col-lg-2 p-0 col-md-6 ">
                        <div class="home-item-card bg-gradient-two row pointer" [routerLink]="['/submission']">
                            <div class="col-3"><i class="fa fa-upload fa-item"></i> </div>
                            <div class="home-item col-9 ">
                                <span class="home-item-title">{{"SADBAR-TITLE-SM"| translate}}</span> <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 col-md-6 ">
                      <div class="home-item-card bg-gradient-five  row pointer" [routerLink]="['/rapport-mi-parcous']">
                          <div class="col-3"> <i class="fa fa-calendar-check-o  fa-item  "></i> </div>
                          <div class="home-item col-9  ">
                              <span class="home-item-title">{{"SADBAR-TITLE-RMP"| translate}}</span> <br>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 p-0 col-md-6 ">
                    <div class="home-item-card bg-gradient-three row pointer" [routerLink]="['/rapport-final']">
                        <div class="col-3"> <i class="fa fa-calendar-check-o  fa-item  "></i> </div>
                        <div class="home-item col-9  ">
                            <span class="home-item-title">{{"SADBAR-TITLE-RFin"| translate}}</span> <br>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-2 p-0 col-md-6 d-none">
                        <div class="home-item-card bg-gradient-three row pointer" [routerLink]="['/etat-lieu']">
                            <div class="col-3"><i class="fa fa-clock-o fa-item"></i> </div>
                            <div class="home-item col-9 ">
                                <span class="home-item-title">{{"SADBAR-TITLE-EL"| translate}}</span> <br>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end home -->


</div>
