<div class="content-header row"  [ngClass]="{' i18n-arb ' : rtl}">
    <div class="content-header-left col-12 mb-2">
      <h5 class="content-header-title mb-0">{{'SADBAR-TITLE-TABLE-BORD' | translate}}</h5>
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-6 my-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              <!-- <i class="fa fa-bar-chart"></i> -->
              {{'SADBAR-TITLE-HOME' | translate}}
            </li>
          </ol>
        </div>
        <div class="col-6 " >
          <span class="float-l">
            <div class="today m-1">
              <strong class="today-item">{{'HEADER-CURRENT-DATE'| translate}} : </strong
              ><span>{{ today | date }}</span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
<div class="content-body"   id="home">
    <!-- start home -->
    <div class="container text-left py-4">

      <ul class="list-unstyled row row-sm justify-content-around mb-0 mt-4">

        <li class="mb-6 col-12 col-md-6 col-lg-4 col-xl text-left">
          <div class="card  border-radius h-100 bg-white shadow-sm overflow-hidden transition-fast ">
            <a class="card-body border-left border-secondary font-size-lg hover:no-underline" [routerLink]="['/administration/list-user']"  target="_blank">
                <h2 class="mt-4 mb-3 title"> Utilisateurs </h2>
                <p class="text">
                  Gestion des Utilisateurs
                </p>
            </a>
          </div>
        </li>
        <li class="mb-6 col-12 col-md-6 col-lg-4 col-xl text-left">
          <div class="card  border-radius h-100 bg-white shadow-sm overflow-hidden transition-fast ">
            <a class="card-body border-left border-secondary font-size-lg hover:no-underline" [routerLink]="['/administration/list-role']"  target="_blank">

                <h2 class="mt-4 title"> Rôles </h2>
                <p class="text">
                  Gestion des rôles et droits associés
                </p>
            </a>
          </div>
        </li>
        <li class="mb-6 col-12 col-md-6 col-lg-4 col-xl text-left">
          <div class="card  border-radius h-100 bg-white shadow-sm overflow-hidden transition-fast ">
            <a class="card-body border-left border-secondary font-size-lg hover:no-underline" [routerLink]="['/administration/list-menu']"  target="_blank">
                <h2 class="mt-4 title"> Menus </h2>
                <p class="text">
                  Gestion de menus pour sideBar
                </p>
            </a>
          </div>
        </li>
        <li class="mb-6 col-12 col-md-6 col-lg-4 col-xl text-left">
          <div class="card  border-radius h-100 bg-white shadow-sm overflow-hidden transition-fast ">
            <a class="card-body border-left border-secondary font-size-lg hover:no-underline" [routerLink]="['/parametres/list-pays']"  target="_blank">
                <h2 class="mt-4 title"> Paramètres </h2>
                <p class="text">
                  Gestion des paramètres de l'application
                </p>
            </a>
          </div>
        </li>

      </ul>
    </div>
    <!-- end home -->


</div>
