<nav
  id="sidebar"
  [ngClass]="{' i18n-arb ' : rtl, 'active': data.menu == true,'fixed-top':isfixed, 'margin-left': data.menu != true}"
  class="bg-gradient-sidebar sidebar"
>
  <!-- start logo -->
  <div class="sidebar-header">
    <!-- Brand Logo -->
    <a href="" class="brand-link" style="white-space: nowrap">
      <img
        src="./assets/images/logo.svg"
        alt="Logo"
        class="brand-image rounded-circle shadow"
        height="35"
      />
      <span  class="brand-text font-weight-light text-white" id="brand-name"
      [ngClass]="rtl == true ? ' mr-3 ' : ' ml-3 ' "
        >{{'SADBAR-TITLE' | translate}}</span
      >
    </a>

    <span *ngIf="data.menu == true"
      role="button"
      id="closeSidebar"
      (click)="closeSidebar()"
    >
      <i class="fa " [ngClass]="rtl == true ? ' fa-chevron-circle-right ' : ' fa-chevron-circle-left ' "></i>
    </span>
  </div>

  <!-- Start navBar SideMain -->
  <ul class="list-unstyled components">
    <ng-container *ngFor="let menu of listMenu; let iMenu = index, let iLast = last" >
      <!-- menu sans fils -->
      <ng-container *ngIf=" menu.hasChildren == false;else other" >
      <li >
        <a href="javascript: void(0);"
          [routerLink]="[menu.url]"
          style="white-space: nowrap"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <i class="fa " [ngClass]="menu.icon"></i>
          <span class="item-side">{{ rtl == true ? menu.titleAr : menu.titleFr}}</span>
        </a>
      </li>
    </ng-container>
    <!-- menu with fils -->
    <ng-template #other>
      <li>

        <ng-container *ngIf="iLast;else other1" >
          <a
          [href]="'#'+menu.titleFr"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          [ngClass]="{' active ': isRouteActivePar  }"
          style="white-space: nowrap"
        >
          <i class="fa " [ngClass]="menu.icon"></i>
          <span class="item-side">{{ rtl == true ? menu.titleAr : menu.titleFr}}</span>
        </a>
        </ng-container>
        <ng-template #other1>
          <a
          [href]="'#'+menu.titleFr"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          [ngClass]="{' active ': isRouteActiveAdmin  }"
          style="white-space: nowrap"
        >
          <i class="fa " [ngClass]="menu.icon"></i>
          <span class="item-side">{{ rtl == true ? menu.titleAr : menu.titleFr}}</span>
        </a>
        </ng-template>

        <ul class="collapse list-unstyled" [id]="menu.titleFr">
          <ng-container *ngFor="let menuChildren of menu.children; let iMenuChildren = index" >
            <li >
              <a href="javascript: void(0);"
                [routerLink]="[menuChildren.url]"
                style="white-space: nowrap"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }"
              >
                <i class="fa " [ngClass]="menuChildren.icon"></i>
                <span class="item-side">{{ rtl == true ? menuChildren.titleAr : menuChildren.titleFr}}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-template>
  </ng-container>
  </ul>
  <!-- End navBar SideMain -->

</nav>
<div
  id="overFlowSideBar"
  [ngClass]="{ overFlowSideBar: !isSideBarCloseChild }"
></div>
