/* start login section */

#login .main-bg{
  background: #fafbfc;
}

#login .main-bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: url(../../../assets/images/login-bg-webinar.svg) center top no-repeat;
  mix-blend-mode: multiply;
}


#login .main .rounded-lg{
  border-radius: 1rem!important;
}

#login  .card .card-logo{
  border: 3px solid #fff;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: -60px;
  z-index: 1;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.card-title{
  color: var(--third-color-dis);
}

#login  .card-body .input-champ{
  min-height: 95px;
}


#login .main .input-group{
  transition: border-color .2s cubic-bezier(.785,.135,.15,.86) 0s;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,roboto,Helvetica Neue,helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  border: 1px solid #d6d9de;
  box-sizing: border-box;
  border-radius: 9px;
  /* padding: 0 20px 0 36px; */
  height: 40px;
  color: #2a2e34;
  overflow: hidden;
}


#login .main .input-group-text {
  min-width: 40px;
  background-color: transparent;
  border: 0px;
}

#login .main .col-form-label{
  text-align: start;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  padding: 0 0 8px 2px;
}


#login .main input.form-control{
  height: 38px;
  border: 0px;
  border-radius: 0px !important;
  color: var(--main-color-dis);
  font-size: 14px !important;
}


#login .lien-signup{
  color: var(--main-color-dis);
  border-bottom: 1px dashed transparent;
}

#login .main a.lien-signup:hover {
  text-decoration: revert;
}


.msgError{
  font-size: small;
  padding: 3px;
}

.title-forgot-password,.title-inscrit{
  font-size: 0.8rem;
}


#login .main .input-group .title-forgot-password {
  font-size: 12px;
  font-weight: 500;
  color: var(--main-color-dis);
  right: 0;
  border-bottom: 1px dashed transparent;
}

#login .main .input-group .title-forgot-password:hover {
  border-bottom-color: var(--main-color-dis);
}


#login .main button.btn-submit{
  background-color: var(--main-color-dis);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 700;
  transition: transform .2s cubic-bezier(.785,.135,.15,.86),background-color .2s cubic-bezier(.785,.135,.15,.86);
  letter-spacing: .4px;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 8px 18px #6cb9ec; /*#7b68ee80; */
  border: 0px;
  padding: 13px 20px;
  padding: 15px !important;
}

/* end login section */

